.flex-row{
    display: flex;
    flex-direction: row;
}

.mb-10{
    margin-bottom: 10px;
}

.reverse-row{
    display: flex;
    flex-direction: row-reverse;
}


.title{
    margin-left: 20px;
    font-family: 'Estonia', cursive;
    font-size: 60px;
    font-weight: bold;
    color:Tomato;
}